html {
    scroll-behavior: smooth;
}

.hero-section {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;

}

#logo {
    color: rgb(196, 196, 14);
    margin: 70px;
    font-size: larger;
}

.hero-section nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
  
    padding: 20px;
}



h3 {
    color: rgb(196, 196, 14);
}

span {
    color: rgb(196, 196, 14);
}
.content{
margin-left: 30px;
}
.button {
    background-color: rgb(196, 196, 14);
   
    margin-left: 30px;
}








.skills {
    display: flex;

    text-align: start;
    justify-content: start;
    align-items: center;
   

}
